<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Class</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body class="p-3 mb-2 bg-danger-subtle text-emphasis-danger" style = "background-color: lightpink;">
    <nav class="navbar fixed-top bg-body-tertiary" style = "padding: 0px;">
      <a class="navbar-brand" href="#" style = "font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <img src="https://media.licdn.com/dms/image/D560BAQFEZtCmByGTGg/company-logo_200_200/0/1700567297525/rvcengineering_logo?e=2147483647&v=beta&t=1zpXDy-M1aBXcTFAQ-n38CUaceJxHPf8IbfPDcCuHbo" style = "padding-left: 10px; padding-right: 15px;" height="50" class="d-inline-block align-top" alt="">
        Attendance Management Sytem
      </a>
    </nav>
    
    <div class="row" style="padding-top: 60px; padding-left: 15px; padding-right: 15px">
      <h2 style = "font-variant: small-caps; padding-bottom: 1.6%; text-decoration:underline;"><%= classId %> Details</h2>
      <div class="col-3" style="padding-right: 15px">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded" >
          <ul class="list-group list-group-flush">

          <li style="list-style-type: none;"><b>Admin Name: </b><%= admin.admin_fullName %></li>
          <hr />
          <li style="list-style-type: none;"><b>Department: </b><%= admin.admin_dept %></li>
          <hr />
          <li style="list-style-type: none;"><b>Class: </b><%= classId %></li>
          </ul>
        </div>
        </div>

      <div class="col-8" style="padding-right: 15px">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">

          <li style="list-style-type: none; text-align: center;">
            <b>Courses: </b> <br>
            <% for (const course of selectedClass.class_courses) { %>
                <a 
                  href="/admin/sheet?admin=<%= admin.admin_id %>&class_name=<%= selectedClass.class_name %>&course_code=<%= course.course_code %>"
                  class="btn btn-danger" 
                  style="margin: 10px 20px; padding: 10px; width: 300px; background-color:darksalmon ; color:black; font-weight: 600;"
              >
                  <%= course.course_name %>
                </a>
            <% } %>
          </li>
        </div>
      </div>
    </div>
    <h2 style="text-align: center; padding-bottom: 0px">Student Attendance</h2>
    <hr />
    <div class="row" style="padding-left: 15px; padding-right: 15px">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
          <table class="table" style="width: 100%; text-align: center">
              <thead>
                  <tr>
                      <th scope="col">Student Name</th>
                      <th scope="col">Student USN</th>
                      <th scope="col" colspan="5">Past 5 days</th>
                      <th scope="col">Cumulative</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
      </div>
  </div>

      
     <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
