<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/html2pdf.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Class</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
</head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Attendance</title>
    <!-- Add your additional head content here -->
<script type="text/javascript">
    function changeBorderColor() {
      console.log("here")
      var selects = document.getElementsByClassName("customSelect");
      console.log(selects)
      for (let select of selects) {
        console.log(select)
        
        var selectedOption = select.options[select.selectedIndex];
  
        if (selectedOption.value === "1") {
          select.style.borderColor = "#28a745"; // Green border for 'P'
          select.style.backgroundColor = "#c2e2ca"; // Green border for 'P'
        } else {
          select.style.borderColor = "#dc3545"; // Red border for 'A'
          select.style.backgroundColor = "#e5aab1"; // Red border for 'A'
        }
    } 
    }
  </script>
</head>

<body class="p-3 mb-2 bg-success-subtle text-emphasis-success">
    <nav class="navbar fixed-top bg-body-tertiary" style="padding: 0px;">
        <a class="navbar-brand" href="#"
            style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <img
                src="https://media.licdn.com/dms/image/D560BAQFEZtCmByGTGg/company-logo_200_200/0/1700567297525/rvcengineering_logo?e=2147483647&v=beta&t=1zpXDy-M1aBXcTFAQ-n38CUaceJxHPf8IbfPDcCuHbo"
                style="padding-left: 10px; padding-right: 15px;" height="50"
                class="d-inline-block align-top" alt="">
            Attendance Management Sytem
        </a>
    </nav>
    <div class="row" style="padding-top: 70px; padding-left: 15px; padding-right: 15px; font-size: large;">
        <div class="col-5" style="padding-right: 15px">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <li style="list-style-type: none;"><b>Teacher: </b><%= matchingCourse.course_teacher %> </li>
                <hr />
                <li style="list-style-type: none;"><b>Class: </b><%= selectedClass.class_name %></li>
            </div>
        </div>
        <div class="col-7" style="padding-right: 15px">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <li style="list-style-type: none;"><b>Course: </b><%= matchingCourse.course_name %> </li>
                <hr />
                <li style="list-style-type: none;"><b>Course Code : </b><%= matchingCourse.course_code %> </li>
            </div>
        </div>
    </div>
    <h2 style="text-align: center; padding-bottom: 0px">Student Marks</h2>
    <hr />
    <div class="row" style="padding-left: 15px; padding-right: 15px">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <div style="text-align: right; margin-bottom: 2%; margin-right: 2%;">
            </div>
            <button onclick="exportTableToCSV('TeacherCIE.csv')" class="btn btn-info" style="background-color: green; color: azure; border-color: green; font-size: larger; font-weight: 500;">Export as CSV</button>
            <button id="generatePDFButton" class="btn btn-info" style="background-color: green; color: azure; border-color: green; font-size: larger; font-weight: 500;margin:5px">
              Generate PDF
          </button>
          <br>
            <form action="https://attendancemanagement.up.railway.app/teacher/cie/update/<%= selectedClass.class_name %>/<%= matchingCourse.course_teacher %>" method="post">
                <label for="history" style="font-weight: 500; font-size: large;"></label>
                <button type="submit" name="history" class="btn btn-info"
                    style="background-color: green; color: azure; border-color: green; font-size: larger; font-weight: 500;">Update</button>
            </form>
            <h6 style="text-align: right; font-style: italic;"> Last updated on <%= matchingCourse.course_last_updated.substring(0,10)%> at <%= matchingCourse.course_last_updated.substring(11)%>
            </h6>
            <table id="table" class="table" style="table-layout:auto; width: max-content; width: 100%; " cellspacing="10">
                <thead>
                    <tr>
                        <th scope="col" style="vertical-align: middle; text-align: left; width: 10%">Student
                            Name</th>
                        <th scope="col" style="vertical-align: middle; text-align: left; width: 5%">Student
                            USN</th>
                        <th scope="col" style="text-align: left; width: 3%;"> Quiz 1</th>
                        <th scope="col" style="text-align: left; width: 3%;"> Test 1</th>
                        <th scope="col" style="text-align: left; width: 3%;"> Quiz 2</th>
                        <th scope="col" style="text-align: left; width: 3%;"> Test 2</th>
                        <th scope="col" style="text-align: left; width: 3%;"> Quiz 3</th>
                        <th scope="col" style="text-align: left; width: 3%;"> Test 3</th>
                        <th scope="col" style="text-align: left; width: 3%;"> Lab</th>
                        <th scope="col" style="text-align: left; width: 3%;"> EL</th>
                        <th scope="col" style="text-align: left; width: 3%;"> Avg Quiz</th>
                        <th scope="col" style="text-align: left; width: 3%;"> Avg Test</th>
                        <th scope="col" style="vertical-align: middle; width : 4%;">Attendance</th>
                        <!-- <th scope="col" style = "vertical-align: middle; width : 5%;">Cumulative</th> -->
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < studentAttendance.length; i++) { %>
                    <% const studentCumulative = (studentAttendance[i].student_cumulative / matchingCourse.course_cumulative * 100).toFixed(2) + '%'; %>
                    <tr>
                        <td style="text-align: left;"><%= studentAttendance[i].student_name %></td>
                        <td style="text-align: left;"><%= studentAttendance[i].student_usn %></td>
                        <% const studentMarks = studentAttendance[i].student_marks; %>
                        <% studentMarks.forEach(mark => { %>
                        <td>
                            <% if (mark === 0) { %>
                            -
                            <%} else {%>
                            <%= mark %>
                            <% } %>
                        </td>
                        <% }); %>
                        <!-- Avg quiz -->
                        <td>
                            <%= ((parseInt(studentMarks[0]) + parseInt(studentMarks[2]) + parseInt(studentMarks[4]))/3.0).toFixed(2) %>
                        </td>
                        <!-- Avg test -->
                        <td>
                            <%= ((parseInt(studentMarks[1]) + parseInt(studentMarks[3]) + parseInt(studentMarks[5]))/3.0).toFixed(2) %>
                        </td>
                        

                <td style = "text-align: center;"><%= studentCumulative + '      [ ' + studentAttendance[i].student_cumulative + '/' + matchingCourse.course_cumulative + ' ]'%></td>
                

          
            </tr>
            <% } %>
            
          </tbody>
          
          
      
    </table>
    </div>
    </div>
    
    <script>
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;

            // CSV file
            csvFile = new Blob([csv], { type: "text/csv" });

            // Download link
            downloadLink = document.createElement("a");

            // File name
            downloadLink.download = filename;

            // Create a link to the file
            downloadLink.href = window.URL.createObjectURL(csvFile);

            // Hide download link
            downloadLink.style.display = "none";

            // Add the link to DOM
            document.body.appendChild(downloadLink);

            // Click download link
            downloadLink.click();
        }

        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [],
                    cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }

                csv.push(row.join(","));
            }

            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/html2pdf.js/dist/html2pdf.bundle.min.js"></script>
<script>
    // Function to generate PDF using html2pdf.js
    function generatePDF() {
var element = document.getElementById('table');
var opt = {
    margin:       1,
    filename:     'TeacherCIE.pdf',
    image:        { type: 'jpeg', quality: 0.98 },
    html2canvas:  { scale: 2 },
    jsPDF:        { unit: 'in', format: 'letter', orientation: 'landscape' }
};
// New Promise-based usage:
html2pdf().set(opt).from(element).save();
}


    // Add an event listener to the "Generate PDF" button
    document.getElementById('generatePDFButton').addEventListener('click', generatePDF);

</script>
</body>

</html>