<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Teacher Class</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
</head>

<body class="p-3 mb-2 bg-success-subtle text-emphasis-success">
    <nav class="navbar fixed-top bg-body-tertiary" style="padding: 0px;">
        <a class="navbar-brand" href="#"
            style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <img
                src="https://media.licdn.com/dms/image/D560BAQFEZtCmByGTGg/company-logo_200_200/0/1700567297525/rvcengineering_logo?e=2147483647&v=beta&t=1zpXDy-M1aBXcTFAQ-n38CUaceJxHPf8IbfPDcCuHbo"
                style="padding-left: 10px; padding-right: 15px;" height="50"
                class="d-inline-block align-top" alt="">
            Attendance Management Sytem
        </a>
    </nav>
    <div class="row" style="padding-top: 70px; padding-left: 15px; padding-right: 15px; font-size: large;">
        <div class="col-5" style="padding-right: 15px">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <li style="list-style-type: none;"><b>Teacher: </b><%= matchingCourse.course_teacher %> </li>
                <hr />
                <li style="list-style-type: none;"><b>Class: </b><%= selectedClass.class_name %></li>
            </div>
        </div>
        <div class="col-7" style="padding-right: 15px">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <li style="list-style-type: none;"><b>Course: </b><%= matchingCourse.course_name %> </li>
                <hr />
                <li style="list-style-type: none;"><b>Course Code : </b><%= matchingCourse.course_code %> </li>
            </div>
        </div>
    </div>
    <h2 style="text-align: center; padding-bottom: 0px">Student Marks</h2>
    <hr />
    <div class="row" style="padding-left: 15px; padding-right: 15px">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="row justify-content-end">
                <!-- <form action="/upload-csv" method="post" enctype="multipart/form-data">
                    <div class="col-auto">
                        <input type="file" name="file" accept=".csv" style="display: none;" id="csvFileInput">
                        
                    </div>
                    <div class="col-auto">
                        <button type="submit" name="upload" class="btn btn-primary"
                            style="display: none;">Upload</button>
                    </div>
                </form> -->
                <div class="col-auto">
                    <div>

                        <form
                            action="https://attendancemanagement.up.railway.app/teacher/cie/import/<%= selectedClass.class_name %>/<%= matchingCourse.course_teacher %>/<%= constantValue %>" method="post" enctype="multipart/form-data">
                            <div>
                                <input type="file" name="csvFile" accept=".csv" id="csvFileInput">
                            </div>
                            <label for="upload" style="font-weight: 500; font-size: large;"></label>
                            <button type="submit" name="upload" class="btn btn-info"
                                style="margin:5px; background-color: green; color: azure; border-color: green; font-size: larger; font-weight: 500;">Upload marks from CSV</button>
                        </form>
                    </div>
                    <form
                        action="https://attendancemanagement.up.railway.app/teacher/cie/update/<%= selectedClass.class_name %>/<%= matchingCourse.course_teacher %>/<%= constantValue %>"
                        method="post">
                        <label for="history" style="font-weight: 500; font-size: large;"></label>
                        <button type="submit" name="history" class="btn btn-info"
                            style="margin:5px; background-color: green; color: azure; border-color: green; font-size: larger; font-weight: 500;">Update marks here</button>
                    </form>
                </div>
            </div>
            <!-- <h6 style="text-align: right; font-style: italic;"> Last updated on
                <%= matchingCourse.course_last_updated.substring(0,10)%> at <%= matchingCourse.course_last_updated.substring(11)%>
            </h6> -->
            <form
                action="https://attendancemanagement.up.railway.app/teacher/cie/storeval/<%= selectedClass.class_name %>/<%= matchingCourse.course_teacher %>/<%= constantValue %>"
                method="post">
                <table class="table" style="width: 100%; text-align: center; table-layout: auto;">
                    <thead>
                        <tr>
                            <th scope="col" style="vertical-align: middle; text-align: left; width: 10%">Student Name</th>
                            <th scope="col" style="vertical-align: middle; text-align: left; width: 5%">Student USN</th>
                            <% if (constantValue === 0) { %>
                                <th scope="col" style="text-align: left; width: 3%;"> Quiz 1</th>
                            <% } %>
                            <% if (constantValue === 1) { %>
                                <th scope="col" style="text-align: left; width: 3%;"> Test 1</th>
                            <% } %>
                            <% if (constantValue === 2) { %>
                                <th scope="col" style="text-align: left; width: 3%;"> Quiz 2</th>
                            <% } %>
                            <% if (constantValue === 3) { %>
                                <th scope="col" style="text-align: left; width: 3%;"> Test 2</th>
                            <% } %>
                            <% if (constantValue === 4) { %>
                                <th scope="col" style="text-align: left; width: 3%;"> Quiz 3</th>
                            <% } %>
                            <% if (constantValue === 5) { %>
                                <th scope="col" style="text-align: left; width: 3%;"> Test 3</th>
                            <% } %>
                            <% if (constantValue === 6) { %>
                                <th scope="col" style="text-align: left; width: 3%;"> Lab</th>
                            <% } %>
                            <% if (constantValue === 7) { %>
                                <th scope="col" style="text-align: left; width: 3%;"> EL</th>
                            <% } %>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% for (let i = 0; i < studentAttendance.length; i++) { %>
                        <tr>
                            <td style="text-align: left;"><%= studentAttendance[i].student_name %></td>
                            <td style="text-align: left;"><%= studentAttendance[i].student_usn %></td>
                            <% const studentMarks = studentAttendance[i].student_marks; %>

                            <td>
                                <input type="number" size="3" style="width : 90%;"
                                value="<%= studentMarks[constantValue] %>"
                                name="marks_<%= i %>_<%= constantValue %>" />
                            </td>


                        </tr>
                        <% } %>

                    </tbody>

                </table>
                <div style="text-align: right;">
                    <button type="submit" name="Submit" class="btn btn-info"
                        style="background-color: green; color: azure; border-color: green; font-size: large; font-weight: 500; ">Submit
                        Marks</button>
                </div>
            </form> <!-- Added closing form tag here -->
        </div>
    </div>

    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous">
    </script>
</body>

</html>
